 .u-section-1 {
  background-image: url("images/thumb16.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 408px;
  margin: 159px auto 0 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 358px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 40px 40px;
}

.u-section-1 .u-text-1 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 78px auto 0 10px;
  padding: 15px 44px 17px;
}

.u-section-1 .u-image-1 {
  width: 332px;
  height: 332px;
  margin: -399px 130px 67px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 230px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 115px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 8px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 890px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 967px;
  margin: 168px 68px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 722px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 12px;
}

.u-section-2 .u-image-1 {
  height: 429px;
  width: 420px;
  margin: -89px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 7px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0;
  padding: 15px 44px 17px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1667px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1667px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 702px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 22px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 278px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 344px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 748px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 999px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 326px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 327px;
    width: 320px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 201px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 716px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 71px auto 0;
}

.u-section-3 .u-list-1 {
  width: 976px;
  margin: 50px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 468px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(#2799b1, #d5e76c);
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-4 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-text-6 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(#2799b1, #d5e76c);
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-text-8 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 451px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}