 .u-section-1 {
  min-height: 110px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 332px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 4.5rem;
  margin: 104px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 876px;
  margin: 16px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 835px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  background-image: none;
  margin: 80px calc(((100% - 1140px) / 2) + 388px) 0 calc(((100% - 1140px) / 2) + 413px);
}

.u-section-3 .u-image-1 {
  width: 777px;
  height: 681px;
  margin: 14px auto 0 calc(((100% - 1140px) / 2) + -14px);
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 489px;
  margin: -489px calc(((100% - 1140px) / 2) + -52px) 0 auto;
}

.u-section-3 .u-group-1 {
  background-image: none;
  width: 743px;
  min-height: 468px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -615px calc(((100% - 1140px) / 2) + 162px) 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 58px 40px 0;
}

.u-section-3 .u-list-1 {
  width: 675px;
  margin: -108px 28px 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 375px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  width: 49px;
  height: 49px;
  margin: 56px auto 0 23px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-4 {
  width: 49px;
  height: 49px;
  margin: 56px auto 0 23px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-5 {
  width: 49px;
  height: 49px;
  margin: 56px auto 0 23px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-image-6 {
  width: 49px;
  height: 49px;
  margin: 56px auto 0 23px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-image-7 {
  width: 49px;
  height: 49px;
  margin: 56px auto 0 23px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-image-8 {
  width: 49px;
  height: 49px;
  margin: 56px auto 0 23px;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px;
}

.u-section-3 .u-image-9 {
  width: 49px;
  height: 49px;
  margin: 56px auto 0 23px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 10px;
}

.u-section-3 .u-image-10 {
  width: 49px;
  height: 49px;
  margin: 56px auto 0 23px;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 10px;
}

.u-section-3 .u-image-11 {
  width: 49px;
  height: 49px;
  margin: 56px auto 0 23px;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 10px;
}

.u-section-3 .u-image-12 {
  width: 49px;
  height: 49px;
  margin: 56px auto 0 23px;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1140px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 288px);
    margin-left: calc(((100% - 940px) / 2) + 313px);
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -14px);
  }

  .u-section-3 .u-image-2 {
    width: 470px;
    height: 403px;
    margin-right: calc(((100% - 940px) / 2) + -52px);
  }

  .u-section-3 .u-group-1 {
    margin-top: -529px;
    margin-right: calc(((100% - 940px) / 2) + 162px);
  }

  .u-section-3 .u-text-2 {
    font-size: 3.875rem;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1501px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 178px);
    margin-left: calc(((100% - 720px) / 2) + 203px);
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 631px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-2 {
    width: 360px;
    height: 309px;
    margin-top: 351px;
    margin-right: calc(((100% - 720px) / 2) + -52px);
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-top: -1224px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 1250px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2126px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 88px);
    margin-left: calc(((100% - 540px) / 2) + 113px);
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 473px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-top: 1134px;
    margin-right: calc(((100% - 540px) / 2) + -52px);
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: -1849px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1875px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2066px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 1px);
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 298px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 292px;
    margin-top: 1295px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -1818px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 192px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-4 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 26px auto 40px;
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    width: 340px;
  }
}